# ==========================================
# Datasets and Large Media
# ==========================================
data/
*.zip
*.tar.gz
*.mp4

# ==========================================
# macOS System Files
# ==========================================
.DS_Store
.AppleDouble
.LSOverride
._*

# ==========================================
# Python Virtual Environments
# ==========================================
.venv/
venv/
env/
ENV/

# ==========================================
# Python Cache and Bytecode
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so

# ==========================================
# IDEs and Code Editors
# ==========================================
.vscode/
.idea/

# ==========================================
# Jupyter Notebooks & Model Checkpoints
# ==========================================
.ipynb_checkpoints
*.pt
*.pth
*.h5
*.onnx